<header class="app-home-background">
    <div class="app-home-section ad">
        <div class="app-home-headline">
            <h1 class="mat-h1">MASTER LIST OF CONTROLLED DOCUMENTS</h1>
            <h3><p>PLEASE NOTE: THE MASTER LIST OF CONTROLLED DOCUMENTS IS FOR MOFE DOCUMENTS ONLY</p></h3>
            <!--h2>{{ 'APP.HOME.TITLE' | translate}}</h2>-->

            <!-- added by Rob Wilds below-->

            <div class="example-action-buttons">
              <button mat-button (click)="accordion.openAll()">Expand All</button>
              <button mat-button (click)="accordion.closeAll()">Collapse All</button>
            </div>
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <img style="max-width: 200px;" src="./assets/images/train.png">
        <mat-panel-title>
          DRAWINGS
        </mat-panel-title>
        <mat-panel-description (click)="routeToFolder('drawings')">
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="app-content-node-selector-demo-basic-table">
        <adf-content-node-selector-panel
            [currentFolderId]="'9ceffb48-0cc0-4341-8720-e16d21166005/'">
        </adf-content-node-selector-panel>
    </div>
    </mat-expansion-panel>

    <p></p>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <img style="max-width: 200px;" src="./assets/images/busses.png">
        <mat-panel-title>
          EQUIPMENT INSTRUCTIONS
        </mat-panel-title>
        <mat-panel-description (click)="routeToFolder('eq')">

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="app-content-node-selector-demo-basic-table">
        <adf-content-node-selector-panel
            [currentFolderId]="'0a9f912f-fba4-480d-9ee2-c4f2e894ccf8'">
        </adf-content-node-selector-panel>
    </div>
    </mat-expansion-panel>


<p></p>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" hideToggle>
      <mat-expansion-panel-header>
        <img style="max-width: 200px;" src="./assets/images/rail.png">
        <mat-panel-title>
          AIR BRAKES
        </mat-panel-title>
        <mat-panel-description (click)="routeToFolder('airbrakes')"></mat-panel-description>
      </mat-expansion-panel-header>
      <div class="app-content-node-selector-demo-basic-table">
        <adf-content-node-selector-panel
            [currentFolderId]="'7d5cb795-9ba5-40cb-97f9-6e93b3e80406'">
        </adf-content-node-selector-panel>
    </div>
    </mat-expansion-panel>

          <p></p>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" hideToggle>
      <mat-expansion-panel-header>
        <img style="max-width: 200px;" src="./assets/images/mtasearch.png">
        <mat-panel-title>
          ADVANCED SEARCH
        </mat-panel-title>
        <mat-panel-description (click)="routeToFolder('search')">


        </mat-panel-description>
      </mat-expansion-panel-header>
      
    </mat-expansion-panel>
  </mat-accordion>
  <!--end add by Rob Wilds-->
        </div>

        <!-- <div class="app-home-start">
            <a mat-raised-button color="primary" class="app-home-docs-button" href="https://github.com/Alfresco/alfresco-ng2-components/tree/master/docs">{{ 'APP.HOME.DOCUMENTATION' | translate}}</a>
        </div> -->

        <!--h1 class="mat-h1" (click)="routeToFolder('search')">CLICK HERE FOR ADVANCED SEARCH </h1-->
    </div>
    <div class="app-home-headline"><h1 class="mat-h1">FAVORITES</h1></div>
    
<adf-document-list 
#documentList
    [currentFolderId]="'-favorites-'"
    [contextMenuActions]="true"
    [contentActions]="true">
    [maxItems]="5"
    [locationFormat]="/files"
    [preselectNodes]="selectedNodes"
    [showHeader]="noHeaderMode"
    [maxItems]="5"
    (preview)="showFile($event)"
    [selectionMode]="null"
</adf-document-list>
    
<div class="app-home-headline"><h1 class="mat-h1">PROCESS SERVICES APPS</h1></div>
<adf-apps
    (appClick)="onAppClicked($event)"
    [layoutType]="'GRID'">
</adf-apps>

<div class="app-home-headline"><h1 class="mat-h1">MY TASKS</h1></div>

<adf-tasklist 
    (rowClick)="taskRowClick()"
    [state]="'open'" 
    [assignment]="'assignee'"
    [taskId]="taskId">
</adf-tasklist>



</header>


