:host {
    display: flex;
    justify-content: center;
    align-items: normal;
    height: 100%;
}

//added by Rob

.example-action-buttons {
    padding-bottom: 20px;
  }
  
  /* .mat-expansion-panel-header {
    height: auto;
    padding: 12px 24px;
  } */

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;

  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

.app-home-header-background {
    overflow: hidden;

}

.app-home-section {
    text-align: center;
    padding-top: 20px;

}

.app-home-headline {
    h1 {
        font-size: 40px;
        font-weight: 300;
        line-height: 40px;
        margin: 15px 5px;
    }

    h2 {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        margin: 15px 0 25px;
    }
}

.app-home-docs-button {
    margin: 30px;
}
