<p>Search</p>

<form action="form(click())">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Submit">
</form>
<!-- <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
   -->

  <!--  <div class = "Simple example">  
    <mat-form-field appearance = "fill">  
      <mat-label> Enter Name </mat-label>  
      <input matInput>  
    </mat-form-field>  
    <br>  
    <mat-form-field appearance = "fill">  
      <mat-label> Select Gender </mat-label>  
      <mat-select>  
        <mat-option value = "option"> Male </mat-option>  
        <mat-option value = "option"> Female </mat-option>  
      </mat-select>  
    </mat-form-field>  
    <br>  
    <mat-form-field appearance = "fill">  
      <mat-label> Comment </mat-label>  
      <textarea matInput> </textarea>  
    </mat-form-field>  
  </div>   -->